/*

Styling for the options panel

*/
#optionsframework-metabox {
	margin-right:300px;
}
#optionsframework {
	float:left;
	width:100%;
}
#optionsframework-sidebar {
	float: right;
	width: 280px;
}
#optionsframework-sidebar .metabox-holder {
	padding-top:0;
}
#optionsframework #section-visual_style .controls {
	width:100%;
	padding:0;
	float:none;
}

#section-visual_style .controls img {
	max-width:195px;
	height:auto;
}