/* =Dark Styles
----------------------------------------------- */

$link: #40d7bc;

body {
	background: #212121;
	color: #eee;
}
a {
	color: $link;
}
a:visited {
	color: $link;
}
a:hover,
a:focus,
a:active {
	color: #fff;
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="email"],
input[type="search"],
input[type="url"],
textarea {
	background: #191919;
	color: #eee;
	border: 1px solid #292929;
	border-top: none;
	box-shadow: inset 0px 1px 1px 1px rgba(0,0,0,0.1);
}
input[type="submit"],
input[type="button"],
input[type="reset"] {
	background: #313131;
	background: linear-gradient( #323232 0%, #212121 100%);
	color: #fff;
	border: none;
	border-bottom: 2px solid #000;
}
button:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active {
	background: #212121;
	background: linear-gradient( #212121 0%, #323232 100%);
	border: none;
	border-top: 2px solid #000;
}
pre {
	border: 1px solid #292929;
	border-top: none;
	box-shadow: inset 0px 1px 1px 1px rgba(0,0,0,0.1);
	background: #191919;
}
mark, ins {
	background: #00877f;
}

/* =Header
----------------------------------------------- */

#masthead {
	background: #313131;
	box-shadow: 0 1px 1px 1px rgba(0,0,0,0.05);
}
.site-title a {
	color: #eee;
	text-shadow: 0 1px 1px rgba(0,0,0,.8);
}
.site-title a:hover {
	color: $link;
	text-decoration: none;
}

/* =Menu
----------------------------------------------- */

.main-navigation {
	border-right: 1px solid #161616;
}
.main-navigation li {
	border-left: 1px solid #161616;
}
.main-navigation a {
	color: #ddd;
	box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1);
	border-left: 1px solid #363636;
}
.main-navigation li:last-of-type a {
	border-right: 1px solid #363636;
}
.main-navigation li a:hover {
	border-color: #000;
	background: #000;
	color: $link;
}
.main-navigation li:hover > a {
	border-color: #000;
	background: #000;
}
.main-navigation ul ul {
	background: #313131;
	left: -1px;
	border-top: 1px solid #222;
	border-left: 1px solid #222;
	border-right: 1px solid #222;
}
.main-navigation ul ul li {
	border-top: 1px solid #161616;
}
.main-navigation ul ul li a {
	background: #313131;
	border-bottom: 1px solid #363636;
}
.main-navigation ul ul li a:hover {
	background: #313131;
	border-color: #363636;
}

/* =Masonry Layout
----------------------------------------------- */

.masonry .hentry {
	margin-right:1.5%;
}
.masonry .entry-title a {
	color: #fff;
}
.masonry footer.entry-meta a {
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0,0,0,.9);
}
.masonry footer.entry-meta a:hover {
	text-decoration: none;
	color: #fff;
}
footer.entry-meta .post-link a:hover {
	color: $link;
}

/* =Content
----------------------------------------------- */

.hentry {
	background: #292929;
	box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1);
	border: none;
}
.entry-header {
	border-bottom: 1px solid #161616;
}
.entry-meta a {
	color: #ddd;
}
.entry-content, .entry-summary {
	border-top: 1px solid #363636;
	border-bottom: 1px solid #161616;
}
footer.entry-meta {
	border-top: 1px solid #333;

}
footer.entry-meta a {
	color: #ccc;
}
footer.entry-meta a:hover {
	color: $link;
}

/* =Archives
----------------------------------------------- */

.page-header {
	border: 1px solid #333;
	border-top: 1px solid #292929;
	box-shadow: inset 0px 1px 1px 1px rgba(0,0,0,0.1);
}

/* =Post Navigation
----------------------------------------------- */

#nav-below {
	border: 1px solid #292929;
	box-shadow: inset 0px 1px 1px 1px rgba(0,0,0,0.1);
}
#nav-below a {
	color: #ddd;
	text-decoration: none;
}
#nav-below a:hover {
	color: $link;;
}
.page-links a {
	background: #313131;
	text-decoration: none;
}

/* =Asides
----------------------------------------------- */

.widget {
	background:transparent;
}
#secondary .widget {
	background: #292929;
	box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1);
	border: none;
}
#secondary .widget-title {
	border-bottom: 1px solid #161616;
}
.widget_search input[type="submit"] {
	padding: 3px 12px 4px;
}
.widget_search input[type="submit"]:active {
	margin-top:-1px;
	padding: 4px 12px 3px;
	color:#f9f9f9;
}

/* =Media
----------------------------------------------- */

.wp-caption {
	background: #212121;
	border: 1px solid #333;
}

/* =Comments
----------------------------------------------- */

#comments {
	border: 1px solid #292929;
	border-top: none;
	box-shadow: inset 0px 1px 1px 1px rgba(0,0,0,0.1);
}
#comments a {
	color: #ddd;
}
#comments a:hover {
	color: $link;
}
.commentlist:after {
	background: #191919;
	border-bottom: 1px solid #363636;
}
article.comment {
	background: #292929;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.commentlist .avatar {
	box-shadow: 0 3px 3px rgba(0,0,0,0.05);
}
#respond .form-allowed-tags {
	color: #ccc;
}

/* =Footer
----------------------------------------------- */

#colophon {
	background: #313131;
	border-top: 1px solid #212121;
	text-shadow: 0 1px 1px rgba(0,0,0,.8);
}
#colophon a {
	color: #ddd;
}

/* =Responsive
----------------------------------------------- */

@media screen and (max-width: 790px) {
	.main-navigation .menu {
		border-top: 1px solid #161616;
	}
	.main-navigation .menu li:last-child {
		border-right: 1px solid #161616;
	}
}

@media screen and (max-width: 490px) {
	.menu-toggle {
		border-left: 1px solid #161616;
	}
	.menu-toggle a:hover {
		border-color: #000;
		background: #000;
		color: $link;
	}
	.main-navigation, .main-navigation .menu {
		border:none;
	}
	.main-navigation li {
		border:none;
		border-top: 1px solid #161616;
		box-shadow: none;
	}
	.main-navigation li:hover > a {
		background: none;
	}
	.main-navigation a {
		border:none;
	}
	.main-navigation li a:hover {
		background:#000;
	}
	.main-navigation ul ul {
		background:none;
		top:0;
		border:none;
	}
	.main-navigation ul ul li a:hover {
		background:#000;
	}
	.main-navigation ul ul li a:hover {
		border-color: #161616;
	}
}