/* =Light Styles
----------------------------------------------- */

@import "bourbon";

/* =Elements
----------------------------------------------- */

body {
	background:#f5f5f5 url('../img/light-noise.png');
	background-size: 60px 60px;
}
a:hover {
	color:#666;
}
input[type="submit"], input[type="button"], input[type="reset"] {
	border:1px solid #e9e9e9;
	@include background(linear-gradient(#f9f9f9 0%, #efefef 100%));
	border-bottom: 2px solid #ccc;
}
button:active, input[type="submit"]:active, input[type="button"]:active, input[type="reset"]:active {
	@include background(linear-gradient(#efefef 0%, #f9f9f9 100%));
	border:1px solid #e9e9e9;
	border-bottom: 2px solid #ddd;
}
pre {
	border: 1px solid #e5e5e5;
}

/* =Header
----------------------------------------------- */

#masthead {
	@include background(linear-gradient(#fefefe 0%, #f9f9f9 100%));
	border-bottom: 1px solid #fff;
	box-shadow: 0 1px 1px 1px rgba(0,0,0,0.02);
}
.site-title a:hover {
	text-decoration: none;
}

/* =Menu
----------------------------------------------- */

.main-navigation {
	border-right: 1px solid #e5e5e5;
}
.main-navigation li {
	border-left: 1px solid #e5e5e5;
}
.main-navigation a {
	border-left: 1px solid #fff;
}
.main-navigation li:last-of-type a {
	border-right: 1px solid #fff;
}
.main-navigation li a:hover, .main-navigation li:hover > a {
	border-color: #fff;
	@include background(linear-gradient(#f2f2f2 0%, #fcfcfc 100%));
}
.main-navigation ul ul {
	background: #fcfcfc;
	left: -1px;
	border: 1px solid #e5e5e5;
	border-top-color:#fff;
}
.main-navigation ul ul li {
	border-top: 1px solid #e5e5e5;
}
.main-navigation ul ul li a {
	background:#fcfcfc;
}
.main-navigation ul ul li a:hover {
	@include background(linear-gradient(#f2f2f2 0%, #fcfcfc 100%));
}

/* =Content
----------------------------------------------- */

.hentry {
	border:1px solid #e9e9e9;
}
.entry-meta a:hover {
	text-decoration: none;
}
.page-links a:hover {
	background:#eee;
	text-decoration: none;
}

/* =Archives
----------------------------------------------- */

.page-header {
	border: 1px solid #e9e9e9;
}

/* =Post Navigation
----------------------------------------------- */

#nav-below a {
	text-decoration: none;
}

/* =Asides
----------------------------------------------- */

#secondary .widget {
	border:1px solid #e9e9e9;
}
#secondary .widget-title {
	border-bottom:1px solid #e9e9e9;
}
.widget_search input[type="submit"] {
	padding: 3px 12px 4px;
}
.widget_search input[type="submit"]:active {
	margin-top:-1px;
	padding: 4px 12px 3px;
}

/* =Comments
----------------------------------------------- */

.commentlist .avatar {
	box-shadow: 1px 2px 2px rgba(0,0,0,0.2);
}

/* =Footer
----------------------------------------------- */

#colophon {
	@include background(linear-gradient(#f9f9f9 0%, #fefefe 100%));
	border-top: 1px solid #e5e5e5;
}

/* =Responsive
----------------------------------------------- */

@media screen and (max-width: 790px) {
	.main-navigation ul ul {
		left:0;
		border:none;
	}
	.main-navigation .menu {
		border-top:1px solid #e5e5e5;
	}
}

@media screen and (max-width: 490px) {
	.main-navigation .menu {
		border-top: none;
	}
	.main-navigation li {
		border:none;
		border-top:1px solid #e5e5e5;
	}
}

/* =Retina
----------------------------------------------- */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3/2),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5) {
        body {
	        background-image: url('../img/light-noise@2x.png');
	    }
}