/* =Reset
-------------------------------------------------------------- */

caption, th, td {
	text-align: right;
}

/* =Global
----------------------------------------------- */

/* Text elements */

ul, ol {
	margin: 0 3em 15px 0;
}

ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
	margin-right: 15px;
	margin-left:0;
}

textarea {
	padding-right: 3px;
	padding-left: 0;
}

/* Alignment */
.alignright {
	float: right;
	margin: .75em 0 .75em 1.5em;
}

.alignleft {
	float: left;
	margin: .75em 1.5em .75em 0;
}

/* Text meant only for screen readers */

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	right: 5px;
	left: auto;
}

/* =Header
----------------------------------------------- */

#masthead hgroup {
	float: right;
	padding-right: 15px;
	padding-left: 0;
}

/* =Menu
----------------------------------------------- */

.main-navigation {
	float: left;
}
.main-navigation li {
	float: right;
}
.main-navigation ul ul {
	float: right;
	left: auto;
	right:0;
}


/* =Structure
----------------------------------------------- */

#primary {
  float: right;
  padding-right:0;
  padding-left: 320px;
}
#secondary {
  float: left;
  width: 300px;
  margin-left: 0;
  margin-right:-300px;
}
.main-navigation li.has-children a {
  padding-left: 40px;
  padding-right:20px;
}

.main-navigation li.has-children > a:after {
  right: auto;
  left:20px;
}

/* =Masonry Layout
----------------------------------------------- */

.post-link {
	float: left;
}

/* =Navigation
----------------------------------------------- */

.nav-previous {
	float:right;
}
.nav-next {
	float:left;
}

/* =Responsive
----------------------------------------------- */

@media screen and (max-width: 790px) {

	#masthead hgroup {
		padding-right: 20px;
		padding-left: 0;
	}
	.main-navigation {
		float: none;
	}
	.main-navigation li:first-child a {
    	padding-right: 20px;
	}
	.main-navigation .menu li:last-child {
		border-right: none;
	}
	.main-navigation li:last-of-type a {
		border-right: none;
	}
	.main-navigation ul ul {
		top: 52px;
	}
	.main-navigation ul ul li a, .main-navigation ul ul li:first-child a {
    	padding: 18px 40px 18px 20px;
	}
	#primary {
	    float: none;
	    padding: 0;
	}
	#secondary {
		float: none;
		width: auto;
		margin: 0 0 40px;
	}
}

@media screen and (max-width: 490px) {
	.menu-toggle {
		right: auto;
		left:0;
	}
	.icon-menu:before {
		margin-right:0;
		margin-left:8px;
	}
	.main-navigation li {
		float:none;
	}
	.main-navigation li:first-child a {
		padding-left: 14px;
	}
	.main-navigation ul ul {
		background:none;
		float:none;
		position: relative;
		width:auto;
		top:0;
		display: block;
	}
	.main-navigation ul ul li a, .main-navigation ul ul li:first-child a {
		padding: 18px 20px 18px 40px;
	}
}
